<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.hetic.findamovie" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <supports-screens
        android:smallScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="false" />
        android:resizeable="true"

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".FindMovie"
            android:label="@string/title_activity_find_movie" >
        </activity>
        <activity
            android:name=".MyMovies"
            android:label="@string/title_activity_my_movies" >
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".DisplayResults"
            android:label="@string/title_activity_display_results" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyMovieView"
            android:label="@string/title_activity_my_movie_view" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".MovieDetails"
            android:label="@string/title_activity_movie_details" >
        </activity>
    </application>

</manifest>
